#!/bin/bash

## General SV arguments
threads="<Number of available threads>"
minSVSize="<Minimum length threshold for SVs>"
maxSVSize="<Maximum length threshold for SVs>"
minSupport="<Minimum amount of read evidence required to support SV call>"
minMAPQ="<Minimum PHREAD score quality threshold to filter below>" #ex. 20
bowtie2OutputFilePathPrefix="<File path to desired output file name prefix for Bowtie2 (without file type)>"
minimap2OutputFilePathPrefix="<File path to desired output file name prefix for Minimap2 (without file type)>"
refGenomeFilePath="<Path to reference genome fasta file>"

## CuteSV specific arguments
PYTHON_ENV="<Path to python virtual environment to be activated>"
cuteSVOutputDir="<Path to the directory that all CuteSV outputs should be written>"
cuteSVOutputFileName="<Name of the VCF file to be output by cuteSV (no path info required)>"

## Sniffles specific arguments
snifflesOutputFilePath="<Path information and file name of desired Sniffles output VCF file>"

## SVIM specific arguments
svimOutputDir="<Path information for the directory to write all SVIM output to>"

## Manta specific arguments
#No args beyond general args above

##Delly specific arguments
dellyBCFOutputFilePath="<Path and file name inforamtion for unformatted Delly output file (.bcf file format)>"
dellyVCFOutputFilePath="<Path and file name inforamtion for reformatted Delly output file (.vcf file format)>"

