#!/bin/bash

readDataDir="<Directory containing short- and long-reads>"
shortReadSRAFilePath="<Long-read SRA file download>"
longReadSRAFilePath="<Short-read SRA file download>"

trimmomaticFilePath="<Path to Trimmomatic Files>"
trimmomaticJARFile="<Trimmomatic JAR file>"
shortReadPEFilePathPrefix="<Path and Prefix of short-read file (less _1.fastq & _2.fastq identifier)>"

threads="<Available threads>"
fastQCReportDir="<Target destination directory for FastQC reports>"

refGenomeFilePath="<File path to reference genome fasta file>"
refGenomeIndexFilePathPrefix="<File path to target index files for ref genome (without file types)>"
bowtie2OutputFilePathPrefix="<File path to desired output file name prefix for Bowtie2 (without file type)>"

minimapDataPreset="map-ont"
longReadFilePath="<File path to long-read data input file>"
minimap2OutputFilePathPrefix="<File path to desired output file name prefix for Minimap2 (without file type)>"

qualimapReportDirPath="<Path to target directory for Qualimap reports>"



