#!/bin/bash

## General SV arguments
threads="<Number of available threads>"
minSVSize="<Minimum length threshold for SVs>"
maxSVSize="<Maximum length threshold for SVs>"
minSupport="<Minimum amount of read evidence required to support SV call>"
minMAPQ="<Minimum PHREAD score quality threshold to filter below>" #ex. 20

##Intersection output arguments
intersectOutputDir="<Path to target directory to store intersection set outputs>"

##Delly output location
dellyOutputDir="<Path information for Delly output directory>"
dellyVCFFileName="${dellyOutputDir}/<File name of Delly VCF file>"
dellyName="delly"

## Manta Output location
mantaOutputDir="<Path information for Manta output directory>"
mantaVCFFileName="${mantaOutputDir}/<File name of Manta VCF file>"
mantaName="manta"

## CuteSV Output location
cuteSVOutputDir="<Path information for CuteSV output directory>"
cuteSVVCFFileName="${cuteSVOutputDir}/<File name of CuteSV VCF file>"
cuteSVName="cuteSV"

## Sniffles Output location
snifflesOutputDir="<Path information for Sniffles output directory>"
snifflesVCFFileName="${snifflesOutputDir}/<File name of Sniffles VCF file>"
snifflesName="sniffles"

## SVIM Output location
svimOutputDir="<Path information for SVIM output directory>"
svimVCFFileName="${svimOutputDir}/<File name of SVIM VCF file>"
svimName="svim"





