#!/bin/bash

## General Args
threads="<Available threads>"

## Read Data Args
readDataDir="<Directory containing short- and long-reads>"
shortReadSRAFilePath="<Long-read SRA file download>"
longReadSRAFilePath="<Short-read SRA file download>"
longReadFilePath="<File path to long-read data input file>"

## Trimmomatic Args
trimmomaticFilePath="<Path to Trimmomatic Files>"
trimmomaticJARFile="<Trimmomatic JAR file>"
shortReadPEFilePathPrefix="<Path and Prefix of short-read file (less _1.fastq & _2.fastq identifier)>"

## Reference Genome File Args
refGenomeFilePath="<File path to reference genome fasta file>"
refGenomeIndexFilePathPrefix="<File path to target index files for ref genome (without file types)>"

## Read Aligner Args
bowtie2OutputFilePathPrefix="<File path to desired output file name prefix for Bowtie2 (without file type)>"
minimapDataPreset="map-ont"
minimap2OutputFilePathPrefix="<File path to desired output file name prefix for Minimap2 (without file type)>"
bowtie2OutputFilePathPrefix="<File path to desired output file name prefix for Bowtie2 (without file type)>"

## Quality control Args
fastQCReportDir="<Target destination directory for FastQC reports>"
qualimapReportDirPath="<Path to target directory for Qualimap reports>"

## General SV Calling Args
minSVSize="<Minimum length threshold for SVs>"
maxSVSize="<Maximum length threshold for SVs>"
minSupport="<Minimum amount of read evidence required to support SV call>"
minMAPQ="<Minimum PHREAD score quality threshold to filter below>" #ex. 20

## Delly output location
dellyOutputDir="<Path information for Delly output directory>"
dellyVCFFileName="${dellyOutputDir}/<File name of Delly VCF file>"
dellyName="delly"
dellyBCFOutputFilePath="<Path and file name inforamtion for unformatted Delly output file (.bcf file format)>"
dellyVCFOutputFilePath=$dellyVCFFileName

## Manta Output location
mantaOutputDir="<Path information for Manta output directory>"
mantaVCFFileName="${mantaOutputDir}/<File name of Manta VCF file>"
mantaName="manta"

## CuteSV Output location
PYTHON_ENV="<Path to python virtual environment to be activated>"
cuteSVOutputDir="<Path information for CuteSV output directory>"
cuteSVOutputFileName="<Name of the VCF file to be output by cuteSV (no path info required)>"
cuteSVVCFFileName="${cuteSVOutputDir}/${cuteSVOutputFileName}"
cuteSVName="cuteSV"

## Sniffles Output location
snifflesOutputDir="<Path information for Sniffles output directory>"
snifflesOutputFilePath="<Path information and file name of desired Sniffles output VCF file>"
snifflesVCFFileName="${snifflesOutputDir}/${snifflesOutputFilePath}"
snifflesName="sniffles"

## SVIM Output location
svimOutputDir="<Path information for SVIM output directory>"
svimVCFFileName="${svimOutputDir}/<File name of SVIM VCF file>"
svimName="svim"

## Intersection Output Args
intersectOutputDir="<Path to target directory to store intersection set outputs>"
